
body {
    display: grid;
    grid-template-areas:
            "title_canvas"
            "description"
            "console";
    grid-template-columns: 1fr;
}

title_canvas {
    grid-area: title_canvas;
    justify-self: center;
}

description {
    grid-area: description;
    justify-self: center;
}

console {
    grid-area: console;
}

.example {
    margin-left: 100px;
    margin-right: 100px;
    font-size: 10px;
}

.shallow {
    width: 1000px;
    height: 200px;
}

.deep {
    width: 1000px;
    height: 300px;
}